.red {
    color: red;
}

.purple {
    color: purple;
}

.word-container {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    min-width: 1024px;
    overflow: auto;
}

.autoWrap {
    word-break: break-all;
}

.mat-column-inputChars {
    flex: 0 0 200px;
}
